__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.hypothesis/

.venv/
venv/

.docs/

*.parquet

data/lobster/*
!data/lobster/README.md

.idea/
.vscode/

Thumbs.db
.DS_Store
